* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins;
    height: 2000px;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}
/* Header */
.header {
    height: 100vh;
    background-color: #e6f0ff;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar img.logo {
    height: 24px;
}

.navbar .navigation {
    display: flex;
    margin-left: 50px;
}

.navbar .navigation a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar .navigation a:hover {
    text-decoration: underline;
}

.navbar .action {
    margin-left: auto;
}

.navbar .action .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action .action-link:hover {
    text-decoration: underline;
}

.navbar .action .action-btn {
    padding: 13px;
    margin-left: 18px;
}

/* Hero */

.hero .info {
    width: 51%;
    margin-top: 130px;
}

.hero .info .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .info .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.3rem;
    line-height: 1.19;
    color: #000336;
}

.hero .info .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}

.hero .info .info-btn {
    margin-top: 40px;
    min-width: 170px;
}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* Clients */
.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row:first-child {
    margin-top: 122px;
}

.clients .row:nth-child(2) {
    margin-top: 23px;
}

.clients .row:last-child {
    margin-top: 70px;
    align-items: center;
}

.clients .logo {
    height: 24px;
}

.clients .star {
    height: 19px;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 91px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
