* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
    min-height: 40px;
    min-width: 98px;
    border-radius: 8px;
}

.btn-large {
    line-height: 50px;
    min-height: 50px;
    min-width: 150px;
    border-radius: 12px;
}

.btn:hover {
    opacity: 0.9;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.link span {
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}

.link img {
    width: 24px;
    height: 8px;
    object-fit: cover;
}

.limit-n-row {
    display: -webkit-box;
    -webkit-line-clamp: var(--n-row, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
header.header {
    height: 100vh;
    background-color: #e6f0ff;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar img.logo {
    height: 24px;
}

.navbar .navigation {
    display: flex;
    margin-left: 50px;
}

.navbar .navigation a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar .navigation a:hover {
    text-decoration: underline;
}

.navbar .action {
    margin-left: auto;
}

.navbar .action .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action .action-link:hover {
    text-decoration: underline;
}

.navbar .action .action-btn {
    margin-left: 18px;
}

/* Hero */
.hero .info {
    width: 51%;
    margin-top: 130px;
}

.hero .info .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .info .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.3rem;
    line-height: 1.19;
    color: #000336;
}

.hero .info .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}

.hero .info .info-btn {
    margin-top: 40px;
    min-width: 170px;
}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* Clients */
.clients .row:first-child {
    margin-top: 122px;
}

.clients .row:nth-child(2) {
    margin-top: 23px;
}

.clients .row:last-child {
    margin-top: 70px;
    align-items: center;
}

.clients .logo {
    height: 24px;
}

.clients .star {
    height: 19px;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 91px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

/* Guides */
.guides .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}

.guides .title {
    position: relative;
}

.guides .title h2 {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.guides .title h2::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 42px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    max-width: 42%;
    margin-top: 20px;
}

.guides .desc p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: center;
    color: #5a6473;
}

.guides .action {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 62%;
}

.guides .action .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guides .action .item .icon {
    width: 48px;
    height: 48px;
}

.guides .action .item h3 {
    margin-top: 23px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    text-align: center;
    color: #3b3c45;
}

.guides .action .item .link {
    margin-top: 10px;
}

.guides .btn {
    margin-top: 50px;
}

.features {
    margin-top: 136px;
    background: #f5fafe;
    padding: 110px 0;
}

.features .header .title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.features .header .sub-title {
    font-weight: 400;
    font-size: 1.6rem;
    display: flex;
    color: #5a6473;
}

.features .header .row-space-between:last-child {
    margin-top: 15px;
}

.features .header .link span {
    font-size: 1.8rem;
}

.features .products {
    margin-top: 68px;
    display: flex;
    gap: 30px;
}

.product {
    border-radius: 12px;
    flex: 1;
    background: #ffffff;
}

.product .thumb {
    width: 100%;
    height: 227px;
    border-radius: 12px 12px 0 0;
}

.product .info {
    margin: 17px 20px 20px 23px;
}

.product .info .name a {
    --n-row: 1;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;
}

.product .info .sub-name {
    --n-row: 1;
    margin-top: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    word-break: break-all;
}

.product .info .details {
    margin-top: 22px;
}

.product .info .details .item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product .info .details .item span {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #444444;
}
