* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
    --primary-bg-color: #e6f0ff;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
    min-height: 40px;
    min-width: 98px;
    border-radius: 8px;
}

.btn-large {
    line-height: 50px;
    min-height: 50px;
    min-width: 150px;
    border-radius: 12px;
}

.btn:hover {
    opacity: 0.9;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.link span {
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}

.link img {
    width: 24px;
    height: 8px;
    object-fit: cover;
}

.limit-n-row {
    display: -webkit-box;
    -webkit-line-clamp: var(--n-row, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.main {
    position: relative;
}
/* Header */
header.header {
    padding-top: 30px;
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    position: sticky;
    top: -30px;
    z-index: 2;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.navbar img.logo {
    height: 24px;
}

.navbar .navigation {
    display: flex;
    margin-left: 50px;
}

.navbar .navigation a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar .navigation a:hover {
    text-decoration: underline;
}

.navbar .action {
    margin-left: auto;
}

.navbar .action .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action .action-link:hover {
    text-decoration: underline;
}

.navbar .action .action-btn {
    margin-left: 18px;
}

/* Hero */
.hero {
    background-color: var(--primary-bg-color);
    height: calc(100vh - 90px);
}

.hero .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero .info {
    width: 51%;
}

.hero .info .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .info .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.3rem;
    line-height: 1.19;
    color: #000336;
}

.hero .info .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}

.hero .info .info-btn {
    margin-top: 40px;
    min-width: 170px;
}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* Clients */
.clients {
    padding: 82px 0px 42px;
    /* margin-top: 40px; */
}

.clients .row:nth-child(2) {
    margin-top: 23px;
}

.clients .row:last-child {
    margin-top: 70px;
    align-items: center;
}

.clients .logo {
    height: 24px;
}

.clients .star {
    height: 19px;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 91px;
    background: #ffffff;
}

.clients .client:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

/* Guides */
.guides {
    padding: 95px;
    margin-top: 40px;
}

.guides .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guides .title {
    position: relative;
}

.guides .title h2 {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.guides .title h2::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 42px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    max-width: 42%;
    margin-top: 20px;
}

.guides .desc p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: center;
    color: #5a6473;
}

.guides .action {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 62%;
}

.guides .action .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guides .action .item .icon {
    width: 48px;
    height: 48px;
}

.guides .action .item h3 {
    margin-top: 23px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    text-align: center;
    color: #3b3c45;
}

.guides .action .item .link {
    margin-top: 10px;
}

.guides .btn {
    margin-top: 50px;
}

/* Features */
.features {
    margin-top: 40px;
    background: #f5fafe;
    padding: 110px 0;
}

.features .header .title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.features .header .sub-title {
    font-weight: 400;
    font-size: 1.6rem;
    display: flex;
    color: #5a6473;
}

.features .header .row-space-between:last-child {
    margin-top: 15px;
}

.features .header .link span {
    font-size: 1.8rem;
}

.features .products {
    margin-top: 68px;
    display: flex;
    gap: 30px;
}

.product {
    border-radius: 12px;
    flex: 1;
    background: #ffffff;
    overflow: hidden;
}

.product .thumb {
    width: 100%;
    height: 227px;
    /* border-radius: 12px 12px 0 0; */
}

.product .info {
    margin: 17px 20px 20px 23px;
}

.product .info .name a {
    --n-row: 1;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;
}

.product .info .sub-name {
    --n-row: 1;
    margin-top: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    word-break: break-all;
}

.product .info .details {
    margin-top: 22px;
}

.product .info .details .item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product .info .details .item span {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #444444;
}

/* Stats */
.stats {
    padding: 100px 0 50px;
}

.stats .row-info .left {
    flex: 1;
    position: relative;
}

.stats .row-info .left > img {
    width: 400px;
    height: 460px;
    object-fit: cover;
    filter: drop-shadow(40px 80px 155px rgba(30, 103, 113, 0.03));
    border-radius: 12px;
    float: right;
}

.stats .row-info .left .info {
    width: 240px;
    min-height: 250px;
    padding: 45px 22px;
    background: #ffffff;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.stats .row-info .left .info .number span {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats .row-info .left .info .text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats .row-info .left .line {
    width: 100%;
    height: 2px;
    background: #e9e9e9;
}

.stats .right {
    /* padding-left: 165px; */
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.stats .right .info {
    margin-left: 165px;
    max-width: 310px;
    position: relative;
}

.stats .right h2 {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .right h2::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    display: block;
    width: 42px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .right p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.stats .row-stats {
    margin-top: 110px;
}

.stats .row-stats .stat {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-left: 32px;
}

.stats .row-stats .stat .number {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.stats .row-stats .stat .text {
    font-weight: 500;
    font-size: 1.8rem;
    color: #7b8087;
}

/* Subscribe */
.subscribe {
    padding-top: 60px;
}

.subscribe .wrapper {
    display: flex;
    align-items: flex-end;
    height: 440px;
    position: relative;
}

.subscribe .wrapper .bg {
    width: 100%;
    background: #063183;
    border-radius: 20px;
    height: calc(100% - 30px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
}

.subscribe .wrapper .info {
    width: 55%;
}

.subscribe .wrapper .info .title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.subscribe .wrapper .info .sub-title {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #ffffff;
    opacity: 0.75;
}

.subscribe .wrapper .info .btn-sub {
    margin-top: 20px;
    width: 150px;
    background-color: #ffffff;
    color: var(--primary-color);
}

.subscribe .wrapper img {
    position: absolute;
    right: 15%;
    height: 100%;
}

/* Footer */
footer.footer {
    margin-top: 50px;
    padding: 50px 0;
}

footer.footer .row-link {
}

footer.footer .row-link .col {
    flex: 3;
}

footer.footer .row-link .col .link {
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

footer.footer .row-link .col .sub-link {
    margin-top: 52px;
}

footer.footer .row-link .col .sub-link li {
    margin-bottom: 18px;
}
footer.footer .row-link .col .sub-link li:last-child {
    margin-bottom: 0;
}

footer.footer .row-link .col .sub-link a {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;
}

footer.footer .row-link .col-touch {
    flex: 3;
}

footer.footer .col-touch .text {
    margin-top: 52px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;
}

footer.footer .col-touch .icons {
    margin-top: 50px;
    display: flex;
    gap: 16px;
}

footer.footer .col-touch .icons .icon {
    background: #f9f9f9;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer.footer .row-logo {
    margin-top: 80px;
}

footer.footer .copyright {
    margin-top: 80px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #c2c2c2;
}
